<h1>Exercise 2</h1>

In [5]:
# imports

import pandas as P
import numpy as N

<h2>1</h2>

In [6]:
# creating vectors

A = P.Series([5, 8, 7, 6, 8, 4])

B = P.Series([1.3, 2.1, 1.8, 1.2, 1.4, 2.3])

C = P.Series(['y', 'y', 'n', 'y', 'n', 'n'])

In [7]:
# combining vectors

matrix = P.DataFrame(zip(A, B, C))
matrix

   0    1  2
0  5  1.3  y
1  8  2.1  y
2  7  1.8  n
3  6  1.2  y
4  8  1.4  n
5  4  2.3  n

<h3>a)</h3>

In [8]:
# print element (3,2)

matrix.iloc[2, 1]

1.8

<h3>b)</h3>

In [9]:
# print the 4th row

matrix.iloc[3]

0      6
1    1.2
2      y
Name: 3, dtype: object

<h3>c)</h3>

In [10]:
# submatrix of 2 last columns and rows 2-5

sub = matrix.iloc[1:6, [1,2]]
sub

     1  2
1  2.1  y
2  1.8  n
3  1.2  y
4  1.4  n
5  2.3  n

<h3>d)</h3>

In [11]:
# transpose the data matrix so that it has 6 columns and 3 rows

tp_matrix = matrix.transpose()
tp_matrix

     0    1    2    3    4    5
0    5    8    7    6    8    4
1  1.3  2.1  1.8  1.2  1.4  2.3
2    y    y    n    y    n    n

<h2>2.</h2>


<h3>Article 1</h3>
<p>1 234 people were observed (1 234 samples)</p>
<p>Demographic variables:</p>

In [12]:
dv = P.DataFrame(zip(['sex', 'nominal'], 
                     ['age', 'ratio'],
                     ['BMI', 'ratio'],
                     ['family history of CAD', 'indicator']),
                     index=['variable', 'type'])
dv = dv.transpose()
dv

                variable       type
0                    sex    nominal
1                    age      ratio
2                    BMI      ratio
3  family history of CAD  indicator

Clinical variables:

In [13]:
cv = P.DataFrame(zip(['chest complaints', 'nominal'],
                     ['type 2 diabetes mellitus', 'indicator'],
                     ['smoking', 'indicator'], 
                     ['dyslipidemia', 'indicator'],
                     ['hypertension', 'indicator'],
                     ['rest HR', 'ratio'],
                     ['resting systolic BP', 'ratio'],
                     ['diastolic BP', 'ratio'],
                     ),
                     index=['variable', 'type'])
cv = cv.transpose()
cv

                   variable       type
0          chest complaints    nominal
1  type 2 diabetes mellitus  indicator
2                   smoking  indicator
3              dyslipidemia  indicator
4              hypertension  indicator
5                   rest HR      ratio
6       resting systolic BP      ratio
7              diastolic BP      ratio

Functional variables:

In [14]:
fv = P.DataFrame(zip(['abnormal rest ECG', 'indicator'],
                     ['abnormal stress ECG', 'indicator'],
                     ['stress HR', 'ratio'], 
                     ['% of max HR', 'ratio'],
                     ['stress systolic BP', 'ratio'],
                     ['diastolic BP', 'ratio'],
                     ['rest LVEF', 'ratio'],
                     ['stress LVEF', 'ratio'],
                     ['Duke clinical score', 'ratio']),
                     index=['variable', 'type'])
fv = fv.transpose()
fv

              variable       type
0    abnormal rest ECG  indicator
1  abnormal stress ECG  indicator
2            stress HR      ratio
3          % of max HR      ratio
4   stress systolic BP      ratio
5         diastolic BP      ratio
6            rest LVEF      ratio
7          stress LVEF      ratio
8  Duke clinical score      ratio

Response variables:

In [15]:
rv = P.DataFrame(zip(['regional MPR', 'ratio'],
                     ['global MPR', 'ratio'],
                     ['myocardial ischemia', 'indicator'], 
                     ['MACE', 'indicator']),
                     index=['variable', 'type'])
rv = rv.transpose()
rv

              variable       type
0         regional MPR      ratio
1           global MPR      ratio
2  myocardial ischemia  indicator
3                 MACE  indicator

<h3>Article 2</h3>

Demographic variables:

In [16]:
dv2 = P.DataFrame(zip(['gender', 'nominal'],
                      ['wild-type', 'nominal']),
                      index=['variable', 'type'])
dv2 = dv2.transpose()
dv2

    variable     type
0     gender  nominal
1  wild-type  nominal

Clinical variables:

In [17]:
cv2 = P.DataFrame(zip(['tumor', 'indicator'],
                      ['tumor weight', 'ratio'],
                      ['tumor size', 'ratio'],
                      ['body weight', 'ratio']),
                      index=['variable', 'type'])
cv2 = cv2.transpose()
cv2

       variable       type
0         tumor  indicator
1  tumor weight      ratio
2    tumor size      ratio
3   body weight      ratio

Functional variables:

In [18]:
fv2 = P.DataFrame(zip(['implemented cells', 'nominal'], 
                      ['salt diet', 'nominal']),
                      index=['variable', 'type'])
fv2 = fv2.transpose()
fv2

            variable     type
0  implemented cells  nominal
1          salt diet  nominal

Response variables:

In [19]:
rv = P.DataFrame(zip(['tumor growth (weight)', 'ratio'],
                     ['tumor growth (size)', 'ratio'],
                     ['growth (body-weight)', 'ratio'],
                     ['lifetime', 'ratio'],
                     ['food intake', 'ratio'],
                     ['water intake', 'ratio'],
                     ['ALT', 'ratio'],
                     ['AST', 'ratio'],
                     ['BUN', 'ratio'],
                     ['creatinine', 'ratio']),
                     index=['variable', 'type'])
rv = rv.transpose()
rv

                variable   type
0  tumor growth (weight)  ratio
1    tumor growth (size)  ratio
2   growth (body-weight)  ratio
3               lifetime  ratio
4            food intake  ratio
5           water intake  ratio
6                    ALT  ratio
7                    AST  ratio
8                    BUN  ratio
9             creatinine  ratio

<h2>3.</h2>

In [21]:
# check if heights are normally distributed

h1 = P.Series([170, 192, 184, 168, 176, 181, 163])
h1

0    170
1    192
2    184
3    168
4    176
5    181
6    163
dtype: int64